.section-page {
    text-align: center;
    padding: 0 20vw 10vh;
    min-height: 85vh;
}

.section-page h1 {
    font-size: 2em;
    font-weight: 525;
    margin: 4vh 0 2vh 0;
}

.section-page h2 {
    font-size: 1.4em;
    font-weight: 200;
    margin: 1vh;
}

/** Sponsor */
#sponsor-logos {
    display: flex;
    flex-wrap: wrap;
}

#sponsors img {
    width: 300px;
}

/** Schedule */
#schedules {
    display: flex;
    justify-content: center;
}

#schedule table {
    margin: 0 20px;
}

#schedule h2 {
    text-align: center;
}

#schedule td {
    padding: 7px 15px;
    text-align: left;
}

#schedule td:first-child {
    text-align: right;
    border-right: 2px solid gray;
}
